  body {
    background-color: #e3f6f5;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;

  }

  hr {
    border-color: lightgrey;
  }

  h1 {
    color: #66BFBF;
  }

  h3 {
    color: #66BFBF;
  }
